body {
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Helvetica Neue',
    'sans-serif' ,'Arvo', serif ,'Open Sans', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  
}
h1,h2,h3,h4,h5,h6{
  color: #606060;
  font-weight: 400;
}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}
.wrapper-margin{
  margin-top:40px;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}