body {
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Helvetica Neue',
    'sans-serif' ,'Arvo', serif ,'Open Sans', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}
.wrapper-margin{
  margin-top:40px;
}
li{
  list-style: none;
}